@tailwind base;
@tailwind components;
@tailwind utilities;

.radial-blue-bg{
    background-image: radial-gradient(lightblue,skyblue);
    background-repeat: no-repeat;
    background-attachment: fixed;
 }

@keyframes fadeIn {  
    from {  
        opacity:0;  
    }  
    to {  
        opacity:1;  
    }  
 }